chromadb
ddgs
groq
streamlit
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters
langgraph
pypdf
pypdfium2
python-dotenv
sentence-transformers
wikipedia
